html {
    height: 100%;
}
body {
    background-color: black;
    color: #e9e9e9;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.description {
    margin: auto;
    padding: 2em;
    max-width: 60em;
}
h1 {
    text-align: center;
}
a {
    color: #8AF;
}
a:visited {
    color: #C8C;
}
#cesiumContainer {
    margin: 32px;
}